dev-agent/src/main/mule/dev-agent.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f08be4e6-eccc-4d69-af39-c8218bd2f414" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dev-agentFlow" doc:id="01704dac-b5e9-4bf5-b0b5-07187e41d606" >
		<http:listener doc:name="GET /go" doc:id="b681ce4d-6d61-408c-bf95-61597f748053" config-ref="HTTP_Listener_config" path="/go" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="4f839753-6bd6-409a-afff-7d7f4aa9762b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	msg: "Hello",
	version: p('muleAppVer'),
	deployment: p('target.env'),
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload]" doc:name="test" doc:id="8d10d4bf-e04b-4d77-b06a-3b05b9c4ab33" />
	</flow>
</mule>
